$palette: (
  primary: (
    0: hsl(240, 27%, 98%), // F8F8FB
    1: hsl(228, 71%, 98%), // F9FAFE
    2: hsl(231, 73%, 93%), // DFE3FA
    3: hsl(252, 94%, 67%), // 7C5DFA
    4: hsl(252, 100%, 73%), // 9277FF
    5: hsl(231, 20%, 61%), // 888EB0
    6: hsl(231, 37%, 63%), // 7E88C3
    61: hsl(233, 19%, 36%), // 494E6E
    62: hsl(233, 20%, 27%), // 383B54
    7: hsl(233, 30%, 21%), // 252945
    8: hsl(233, 31%, 17%), // 1E2139
    9: hsl(233, 30%, 11%), // 141625
    10: hsl(228, 29%, 7%), // 0C0E16
  ),
  secondary: (
    0: hsl(0, 100%, 80%), // 9277FF
    1: hsl(0, 80%, 63%), // EC5757
  ),

  alert: (
    error: hsl(0, 80%, 63%), // EC5757
    success: hsl(159,66%,51%), // 33D69F
    warning: hsl(33, 100%, 50%), // FF8F00
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    0: hsl(0, 0%, 0%),
  ),
);
