$types: (
  body1: (
    font-family: Spartan,
    font-size: 1.2rem,
    font-weight: 500,
    letter-spacing: -0.025rem,
    line-height: 1.5rem,
  ),
  body2: (
    font-family: Spartan,
    font-size: 1.1rem,
    font-weight: 500,
    letter-spacing: -0.023rem,
    line-height: 1.8rem,
  ),
  1: (
    font-family: Spartan,
    font-size: 3.2rem,
    font-weight: 700,
    letter-spacing: -0.1rem,
    line-height: 3.6rem,
  ),
  2: (
    font-family: Spartan,
    font-size: 2rem,
    font-weight: 700,
    letter-spacing: -0.063rem,
    line-height: 2.2rem,
  ),
  3: (
    font-family: Spartan,
    font-size: 1.6rem,
    font-weight: 700,
    letter-spacing: -0.08rem,
    line-height: 2.4rem,
  ),
  4: (
    font-family: Spartan,
    font-size: 1.2rem,
    font-weight: 700,
    letter-spacing: -0.025rem,
    line-height: 1.5rem,
  ),
);
