@use '../../styles/abstracts/mixins';

.createInvoice {
  @include mixins.z-index(drawer);

  --drawer-top: 7.2rem;

  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding: 3.2rem 2.7rem 17.9rem;
  position: fixed;
  top: var(--drawer-top);
  width: 100%;

  @include mixins.respond-to(md) {
    --drawer-top: 8rem;

    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 5.6rem 5.6rem 14rem;
    width: 61.6rem;
  }

  @include mixins.respond-to(lg) {
    --drawer-top: 0;

    padding-left: 16rem;
    width: 71.9rem;
  }
}

.open {
  animation: openFade 0.25s ease forwards;

  @include mixins.respond-to(md) {
    animation: openSlide 0.25s ease forwards;
  }
}

.close {
  animation: closeFade 0.25s ease forwards;

  @include mixins.respond-to(md) {
    animation: closeSlide 0.25s ease forwards;
  }
}

@keyframes openFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closeFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes openSlide {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes closeSlide {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.title {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.buttonContainer {
  @include mixins.z-index(drawer, 1);

  --invoice-form-button-container-radius: 2rem;

  align-items: center;
  border-top-left-radius: var(--invoice-form-button-container-radius);
  border-top-right-radius: var(--invoice-form-button-container-radius);
  bottom: 0;
  box-shadow: 0 -1rem 4rem var(--theme-drop-shadow);
  display: flex;
  height: 9.1rem;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  top: auto;
  width: 100%;

  @include mixins.respond-to(sm) {
    padding: 0 2.7rem;
  }

  @include mixins.respond-to(md) {
    padding: 0 5.6rem;
    width: 61.6rem;
  }

  @include mixins.respond-to(lg) {
    padding-left: 16rem;
    width: 71.9rem;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  & > *:not(:first-child) {
    margin-left: 0.8rem;
  }
}

.newButtons {
  & > *:first-child {
    margin-right: auto;
  }
}
