@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  src:
    local('SpartanMB-Medium'),
    url(../../../public/font/SpartanMB-Medium.woff2) format('woff2'),
    url(../../../public/font/SpartanMB-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  src:
    local('SpartanMB-Bold'),
    url(../../../public/font/SpartanMB-Bold.woff2) format('woff2'),
    url(../../../public/font/SpartanMB-Bold.woff) format('woff');
}
